body {
    background-color: rgb(148, 169, 238);
}

.container {
    width: 900px;
    margin: 100px auto ;
}

.header, .subhead, .col, .footer{    
    float: left;
    background-color: rgb(255, 85, 7);
}

.margin25 {
    margin:0 25px;
}

.header {
    width: 100%;
    height: 100px;    
}

.subhead{
    width: 100%;
    height: 30px;
    margin: 25px 0; 
}

.col{
    width: calc((100% - 50px) / 3);
    height: 500px      
}

.footer{
    width: 100%;
    height: 100px;
    margin: 25px 0;    
}