h1 {
    text-align: center;
    color: #f50000;
}


body {
    background-color: #b3c6ff;
    color: #c7625e;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}

div.a{
    text-indent: 20px;
}

strong {
    color: rgb(14, 80, 58);
    text-align: center;
}

p {
    text-align: center;
}