h1 {
    text-align: center;
    color: #f50000;
}

h2, h3, h4, h5, h6 {
    text-align: center;
    color: #f50000;
    font-size: 30px;
}


body {
    background-color: #b3c6ff;
    color: #c7625e;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 50px;
}

.a{
    text-indent: 20px;
    width: 25%;
    margin: 100px auto;
}

strong {
    color: rgb(14, 80, 58);
    text-align: center;
}

.intro {
    color: blue;
    font-size: 25px;
}
p {
    text-align: center;
}